<mat-toolbar color="primay">
    <mat-toolbar-row>
       <span>Start</span>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="game.isRunning()">
        <span><button [disabled]="game.getPosition() <= 0" mat-button (click)="game.goBack()">{{ 'back' | uppercase }}</button></span>
        <span>{{game.getPosition()+1}}/{{game.getCount()}}</span>
        <span><button mat-button (click)="game.goNext()">{{ 'next' | uppercase }}</button></span>
    </mat-toolbar-row>

</mat-toolbar> 

<router-outlet></router-outlet>